/*********************UNIVERSAL STYLES***********************/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

@font-face {
	font-family: karimun;
	src: url('../fonts/Karimun.ttf');
}

header {
	background: white;
}

footer {
	background: white;
}

.nav_knife_container, .desktop-menu {
	display: none;
}

.knife_circle {
	opacity: .06;
}

h1, h2, h3 {
	font-family: karimun, serif;
}

p {
	font-family: orator-std, monospace;
	color: white;
}

/**font-family: orator-std, monospace;

font-weight: 400;

font-style: normal; */

/*
font-family: karimun, serif;

/**************Hamburger Menu***************/

.burger-wrapper {
  cursor: pointer;
}
#meny {
    background: black;
    width: 20rem;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(50rem);
    top: 0;
    z-index: 50;
    transition: 0.5s;
}
#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
}

#burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
}

#menyAvPaa:checked ~ #burger > div {
  background-color: #fff;
}

#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

#meny ul {margin-top: 70px; text-align: center; padding: 0; list-style-type: none; list-style-image: none;}
#meny li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
#meny li:hover{display: block;    background:#333; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
#meny ul li a { text-decoration:none;  margin: 0px; color: white; font-family: orator-std, monospace; font-size: 2em;}
#meny ul li a:hover {  color: #666; text-decoration:none;}
#meny a{text-decoration:none; color:#666;}
#meny a:hover{text-decoration:none; color:#666;}




/***************ElastiStack*/
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.elasticstack {
	position: relative;
	margin: 40px auto;
	padding: 0;
	width: 340px;
	height: 380px;
	list-style: none;
	-webkit-perspective: 1000px;
	-webkit-perspective-origin: 50% 150%;
	perspective: 1000px;
	perspective-origin: 50% 150%;
}

.no-js .elasticstack {
	max-width: 1090px;
	width: 100%;
	height: auto;
	text-align: center;
}

.elasticstack li a:hover{
	color: #000;
}

.elasticstack li {
	position: absolute;
	z-index: 1;
	width: 340px;
	height: 380px;
	border-width: 60px 20px;
	border-style: solid;
	border-color: #fff;
	box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
	opacity: 0;
	cursor: pointer;
	-webkit-transform: translate3d(0,0,-180px);
	transform: translate3d(0,0,-180px);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.no-js .elasticstack li {
	position: relative;
	display: inline-block;
	opacity: 1;
	margin: 10px;
	cursor: default;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.elasticstack li img {
	display: block;
}

.elasticstack li h5 {
	margin: 0 5px;
	color: #143f51;
	height: 60px;
	text-align: right;
	font-size: 1.4em;
	font-family: orator-std, monospace;
	line-height: 60px;
}

.elasticstack li.animate {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.elasticstack li.move-back {
	/* http://matthewlein.com/ceaser/ */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
}

/***************** Set Design Hover ****************/

.da-thumbs {
	list-style: none;
	width: 984px;
	height: 600px;
	position: relative;
	margin: 20px auto;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}
.da-thumbs li {
	min-width: 0;
	min-height: 0;
	overflow: hidden;
	margin: 5px;
	background: #fff;
	padding: 8px;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
		width: 100%;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background: #333;
	background: rgba(75,75,75,0.7);
	width: 100%;
	height: 100%;
}
.da-thumbs li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}

/***************** Homepage Mobile Styles ****************/

.index_body {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(71,31,26,1) 77%);
}

header {
	padding-bottom: 30%;
}

.black_logo {
	max-width: 30%;
	margin: 4% 0 0 4%;
}


.home_dog_left {
	transform: translate(10%, -775%);
	max-width: 20%;
}

.magnify_poster {
	max-width: 66%;
	transform: translate(-5%, -28%);
	z-index: 3;
	position: relative;
}

.magnify_text {
	display: none;
}

.magnify_white {
    position: absolute;
    max-width: 66%;
    transform: translate(-105%, -28%);
		z-index: 1;
}

.mug {
	max-width: 16%;
	transform: translate(31%, -512%) rotate(-12deg);
}

.morphine {
	max-width: 20%;
	transform: translate(267%, -412%) rotate(20deg);
}

.go {
	max-width: 27%;
	transform: translate(47%, -368%);
}

.results {
	max-width: 20%;
	transform: translate(-172%, -177%);
}

.home_dog_right{
	max-width: 32%;
	transform: translate(190%, -205%);
}

.home_article {
	margin-top: -113px;
}

.kc_one {
	max-width: 70%;
	position: absolute;
	transform: translate(44%, 0%);
}

.home_article{
	margin: 0 5% 5% 5%;
	transform: translateY(-10%);
}

.home_article h1 {
	text-align: center;
	color: white;
  font-size: 4rem;
}

.home_article p {
	font-size: 1rem;
	text-indent: 5rem
}

.rian {
	display: none;
}
.get_to_know {
	transform: translateY(1%);
}
.kc_two {
	max-width: 70%;
	position: absolute;
	transform: translate(5%, -14%);
}

.home_h_two {
	text-align: center;
  font-size: 3rem;
  color: #834432;
	position: relative;
}

.gold_logo_container {
	text-align: center;
	margin-bottom: 40px;
}
.gold_logo {
	max-width: 80%;
}

.group_pics_container {
		text-align: center;
}

.group_pics_container img {
	max-width: 70%;
	margin-bottom: 20px;
	position: relative;
}
footer {
	text-align: right;
}
footer img {
	max-width: 100%;
}
/***************** Character Mobile Styles ****************/

.characters_body {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(31,62,48,1) 42%);
}

.tree {
	max-width: 50%;
	transform: translate(45%, -72%);
}

.char_left_dog {
	max-width: 20%;
  transform: translate(-56%, -417%);
}

.char_right_dog {
	max-width: 16%;
	transform: translate(471%, -537%);

}

.kc_one_char {
    max-width: 70%;
    position: absolute;
    transform: translate(35%, 5%);
}

.characters_hero h2 {
	color: white;
	font-size: 11vw;
	text-align: center;
  transform: translateY(-250%);
}

.characters_main {
	transform: translateY(-5%);
}

.character_info {
	margin-top: 27%;
}

.characters_main p {
	font-size: 1rem;
	margin: 0 5% 0 5%;
	text-indent: 5rem;
}

.characters_main p span {
	font-style: italic;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

/***************** Set Mobile Styles ****************/
.set_design_body {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(132,87,0,1) 40%);
}

.mansion {
	max-width: 74%;
	transform: translate(17%, -65%);

}

.set_dog_left {
	max-width: 10%;
	transform: translate(-400%, -542%);
}

.set_dog_right {
	max-width: 10%;
	transform: translate(-382%, -443%);
}
.desktop_set_design, .desktop_set_design_two {
	display: none;
}

.design_hero h2 {
	text-align: center;
	color: white;
	font-size: 21vw;
	transform: translateY(-168%);
}

.design_hero p {
	text-indent: 5rem;
	font-size: 5vw;
	margin: 0 5% 0 5%;
	transform: translateY(-45%);
}
.mobile_set_design {
	transform: translateY(-2%);
	text-align: center;
}
.mobile_set_design img {
	max-width: 85%;
	margin-bottom: 5%;
}

/*********************Media Query at 450px***********************/

@media (min-width: 450px) {

	.home_article {
		transform: translateY(-30%);
	}
	.kc_two {
		transform: translate(5%, -4%);
	}

	.get_to_know {
    transform: translateY(-4%);
	}
}

/*********************Media Query at 550px***********************/

@media (min-width: 550px) {

	.get_to_know {
		transform: translateY(0);
	}

	.characters_main {
    transform: translateY(-10%);
	}
}

/*********************Media Query at 600px***********************/
@media (min-width: 600px) {

	.home_article {
    transform: translateY(-50%);
}
}

/*********************Media Query at 700px***********************/

@media (min-width: 700px) {

	.group_pics_container img {
		max-width: 516px;
		margin-bottom: 20px;
		position: relative;
	}

	.set_dog_left {
	    transform: translate(-390%, -542%);
	}

	.set_dog_right {
	    transform: translate(-367%, -443%);
	}

	.home_article {
    transform: translateY(-30%);
}

.home_article h1 {
    font-size: 7rem;
}

.home_article p {
    font-size: 1.4em;
	}

	.get_to_know {
    transform: translateY(-5%);
	}

	.kc_one_char {
	    max-width: 50%;
	    transform: translate(92%, 10%);
	}
	.characters_main p {
    font-size: 1.4rem;
	}
}

/*********************Media Query at 800px***********************/

@media (min-width: 800px) {
	.black_logo {
		max-width: 240px;
	}

	.home_article {
	    transform: translateY(-35%);
	}

	.home_article p {
	    font-size: 1.6rem;
	}

	.characters_main p {
	    font-size: 1.6rem;
	}

	.mansion {
		max-width: 592px;
	}

	.set_dog_left, .set_dog_right {
		max-width: 80px;
	}

	.design_hero h2 {
		font-size: 10rem;
	}
	.design_hero p {
		margin: -10% 5% 0 5%;
		font-size: 2em;
	}

	.mobile_set_design {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.mobile_set_design img {
		max-width: 45%;
	}
}

/*********************Media Query at 900px***********************/

@media (min-width: 900px) {

	.home_article {
    transform: translateY(-50%);
}

.get_to_know {
    transform: translateY(0%);
}

}

/*********************Media Query at 1000px***********************/

@media (min-width: 1000px) {
	header {
		padding-bottom: 240px;
	}

	#menyAvPaa, #burger, #meny {
		display: none;
	}

	.desktop-menu {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		justify-content: space-between;
	}

	.nav_container {
		position: absolute;
		right: 8%;
		top: 4%;
		width: 45%;
	}

	.nav_knife_container {
	    display: flex;
	    justify-content: space-between;
	    position: absolute;
	    right: 8%;
	    top: 6.5%;
	    width: 50%;
	}

	.nav_knife {
		min-width: 0;
		min-height: 0;
		overflow: hidden;
		width: 120px;
	}

	.desktop-menu li a{
		text-decoration: none;
		font-family: karimun, serif;
		font-size: 2em;
	}

	.home {
		color: #471f1a;
	}

	.characters {
		color: #f1b236;
	}

	.set {
		color: #203f31;
	}

	.home_hero_container {
		max-width: 1000px;
		margin: 0 auto;
	}


	.home_dog_left {
	    transform: translate(10%, -686%);
	    max-width: 14%;
	}

	.magnify_poster {
    max-width: 42%;
    transform: translate(-15%, -28%);
}

.home_text_container {
    max-width: 28%;
    text-align: center;
    transform: translate(69%, -475%);
		position: relative;
		z-index: 2;
}

.magnify_text {
	display: contents;
	color: black;
	font-size: .9rem;
}

.magnify_white {
	max-width: 420px;
transform: translate(19%, -153%);
}

.mug {
    max-width: 11%;
    transform: translate(31%, -652%) rotate(-12deg);
}

.morphine {
    max-width: 14%;
    transform: translate(297%, -632%) rotate(20deg);
}

.go {
    max-width: 25%;
    transform: translate(187%, -628%);
}

.results {
    max-width: 17%;
    transform: translate(-70%, -377%);
}

.home_dog_right {
    max-width: 32%;
    transform: translate(1%, -335%);
}

.home_article {
    transform: translateY(-40%);
}

.kc_one {
    max-width: 35%;
    position: absolute;
    transform: translate(195%, -26%);
}
.home_p {
	width: 50%;

}
.rian {
	display: contents;
}

.rian img {
	max-width: 40%;
	align-self: flex-start;
	position: relative;
}

.home_flex {
	display: flex;
	justify-content: space-around;
}

.get_to_know {
    margin-top: -40%;
}


.kc_two {
    max-width: 35%;
    position: absolute;
}

.home_h_two {
    text-align: left;
    font-size: 7rem;
    position: relative;
    left: 10%;
}

.gold_logo {
    max-width: 50%;
}

.group_pics_container {
	display: flex;
	justify-content: space-around;
	max-width: 80%;
	margin: 0 auto;
}

.group_pics_container img {
    max-width: 27%;
    margin-bottom: 130px;
    position: relative;
}


	.characters_hero_container {
		max-width: 1000px;
		margin: 0 auto;
	}

	.tree {
		max-width: 30%;
		transform: translate(45%, -62%);
	}

	.char_left_dog {
    max-width: 15%;
    transform: translate(-56%, -230%);
	}

	.char_right_dog {
	    max-width: 12%;
	    transform: translate(680%, -300%);
	}

	.characters_hero h2 {
    color: #1f3e30;
    font-size: 4em;
    text-align: center;
    transform: translate(20%,-490%);
}

.kc_one_char {
    max-width: 25%;
    position: absolute;
    transform: translate(290%, -70%);
}

	.design_hero_container {
		max-width: 1000px;
		margin: 0 auto;
	}

	.mansion {
	    max-width: 500px;
			transform: translate(17%, -60%);
	}

	.set_dog_left, .set_dog_right {
    max-width: 68px;
	}

	.set_dog_left {
	    transform: translate(-390%, -502%);
	}

	.set_dog_right {
	    transform: translate(-367%, -410%);
	}

	.design_hero h2 {
	    font-size: 5rem;
	    transform: translate(27%,-540%);
	    color: #835923;
	}

.design_hero p {
	width: 30%;
	text-indent: unset;
	font-size: 1em;
	transform: translate(189%,-175%);
}

.mobile_set_design {
	display: none;
}

.design_main {
	margin: -30% 0 40% 0;
}

.desktop_set_design {
	display: contents;
}
.magnify_poster:hover {
    opacity: 0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​
}

/*********************Media Query at 1150px***********************/

@media (min-width: 1150px) {
	.get_to_know {
    margin-top: -20%;
}
}

/*********************Media Query at 1200px***********************/

@media (min-width: 1200px) {
	.design_main {
	    margin: -20% 0 40% 0;
	}

	.character_info {
		max-width: 1200px;
	 	margin: 10% auto;
	}

/*********************Media Query at 1300px***********************/

}

@media (min-width: 1300px) {
	.kc_one_char {
		max-width: 30%;
		position: absolute;
		transform: translate(225%, -45%);
}
}

/*********************Media Query at 1500px***********************/

@media (min-width: 1500px) {
	.design_main {
    margin: -20% 0 30% 0;
}

	.home_desktop_content {
		max-width: 1500px;
		margin: 0 auto;
	}

		.char_desktop_content {
			max-width: 1500px;
			margin: 0 auto;
	}

}

/*********************Media Query at 1700px***********************/

@media (min-width: 1700px) {

	.design_main {
	    margin: -15% 0 30% 0;
	}

	footer img {
	    max-width: 374px;
	}

}

/*********************Media Query at 1900px***********************/

@media (min-width: 1900px) {

	.design_main {
    margin: -15% 0 70% 0;
}

	.desktop_set_design {
		display: none;
	}

	.desktop_set_design_two {
		display: contents;
	}

	#da-thumbs{
		width: auto;
		justify-content: center;
	}

	.set_desktop_content {
    max-width: 1900px;
    margin: 0 auto;
}
}

/***********Animations****************/

/* ----------------------------------------------
 * tracking-focus-in, slide-in-right, and text-focus-in generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


.slide-in-right {
	-webkit-animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}




@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
